{% extends "User/user-standard.html" %}
{% load static %}

{% block title %}Adopta!{% endblock %}

{% block content-header %}Adoptar{% endblock %}

{% block content %}

    {% if user.is_authenticated %}
        <section class="content container-fluid">

            <div id="map" class="c-mapa"></div>

        </section>
    {% else %}
            <section class="content container-fluid">

                <div id="map" class="c-mapa"></div>

            </section>
        {% endif %}

<!--


Optionally, you can add Slimscroll and FastClick plugins.
Both of these plugins are recommended to enhance the
user experience.
-->
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script>
        var map;
        function initialize(){
            navigator.geolocation.getCurrentPosition(showPosition);
        }

        var showPosition = function (position){
            var myLatlng1 = new google.maps.LatLng(position.coords.latitude,position.coords.longitude);
            var mapOptions =
            {
                zoom: 15,
                center: myLatlng1
            };
            var map = new google.maps.Map(document.getElementById('map'),
            mapOptions);
            var contentString = '<h5>Ud. esta aquí</h5>';
            var infowindow = new google.maps.InfoWindow({
                content: contentString
            });
            var image = 'http://icons.iconarchive.com/icons/icons-land/vista-map-markers/48/Map-Marker-Marker-Outside-Chartreuse-icon.png';
            var gps = new google.maps.Marker({
                position: myLatlng1,
                map: map,
                icon: image,
                title: 'Ud. esta aquí'
            });
            gps.addListener('click', function() {
                infowindow.open(map, gps);
            });
          {% for ONG in ongs %}
            //https://mt.googleapis.com/vt/icon/name=icons/onion/SHARED-mymaps-container_4x.png,icons/onion/1502-shape_star_4x.png&highlight=FBC02D&scale=2.0
            var cs{{ ONG.name }} = '<h5>{{ ONG.name }}</h5>';                           //contentString
            var infowindow{{ ONG.name }} = new google.maps.InfoWindow({                 //infowindow
                content: cs{{ ONG.name }}
            });
            var pos{{ ONG.name }} = new google.maps.LatLng({{ ONG.lat }},{{ ONG.lng }});   //position
            var mark{{ ONG.name }} = new google.maps.Marker({                         //marker
                position: pos{{ ONG.name }},
                map: map,
                title: '{{ ONG.name }}'
            });
            mark{{ ONG.name }}.addListener('click', function() {
                infowindow{{ ONG.name }}.open(map, mark{{ ONG.name }});
            });
          {% endfor %}
        };

        google.maps.event.addDomListener(window, 'load', initialize);

    </script>

<!--Mapa de google-->
<script src="https://maps.googleapis.com/maps/api/js?key={{ key }}&callback=myMap"></script>
{% endblock %}
