{% extends "User/user-standard.html" %}
{% load static %}

{% block title %}Adopta!{% endblock %}

{% block content-header %}Adoptar{% endblock %}

{% block content %}

    {% if user.is_authenticated %}
        <!--<img src="{% static 'images/fav.jpg' %}" usemap="#image-map"/>
            <map name="image-map">
                <area target="" alt="ong" title="ong" href="{% url 'user-ong-in' %}" coords="644,317,545,198"
                      shape="rect">
                <area target="" alt="ong" title="ong" href="{% url 'user-ong-in' %}" coords="693,129,828,252"
                      shape="rect">
                <area target="" alt="ong" title="ong" href="{% url 'user-ong-in' %}" coords="469,502,602,612"
                      shape="rect">
            </map>-->
        <section class="content container-fluid">

            <div id="map" class="c-mapa"></div>

        </section>
    {% else %}
        <!--<img src="{% static 'images/noFav.jpg' %}" usemap="#image-map"/>

            <map name="image-map">
                <area target="" alt="ong" title="ong" href="{% url 'user-ong-out' %}" coords="830,258,696,117"
                      shape="rect">
                <area target="" alt="ong" title="ong" href="{% url 'user-ong-out' %}" coords="551,204,643,307"
                      shape="rect">
                <area target="" alt="ong" title="ong" href="{% url 'user-ong-out' %}" coords="469,505,604,614"
                      shape="rect">
            </map>-->
            <section class="content container-fluid">

                <div id="map" class="c-mapa"></div>

            </section>
        {% endif %}

<!--


Optionally, you can add Slimscroll and FastClick plugins.
Both of these plugins are recommended to enhance the
user experience.
-->
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script>
        var map;
        function initialize(){
            navigator.geolocation.getCurrentPosition(showPosition);
        }

        var showPosition = function (position){
            var myLatlng1 = new google.maps.LatLng(position.coords.latitude,position.coords.longitude);
            var mapOptions =
            {
                zoom: 15,
                center: myLatlng1
            };
            var map = new google.maps.Map(document.getElementById('map'),
            mapOptions);
            var contentString = '<h3>Ud. esta aquí</h3>';
            var infowindow = new google.maps.InfoWindow({
                content: contentString
            });
            var gps = new google.maps.Marker({
                position: myLatlng1,
                map: map,
                title: 'Ud. esta aquí'
            });
            gps.addListener('click', function() {
                infowindow.open(map, gps);
            });
          {% for ONG in ongs %}
            var cs{{ ONG.name }} = '<h3>{{ ONG.name }}</h3>';                           //contentString
            var infowindow{{ ONG.name }} = new google.maps.InfoWindow({                               //infowindow
                content: 'cs{{ ONG.name }}'
            });
            var {{ ONG.name }} = new google.maps.LatLng({{ ONG.lat }},{{ ONG.lng }});   //position
            var marker{{ ONG.name }} = new google.maps.Marker({                         //marker
                position: {{ ONG.name }},
                map: map,
                title: '{{ ONG.name }}'
            });
            gps.addListener('click', function() {
                infowindow.open(map, marker{{ ONG.name }});
            });
          {% endfor %}
        };

        google.maps.event.addDomListener(window, 'load', initialize);

    </script>

<!--Mapa de google-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKrwK5Ra7Lrbam0i1ifeMrlPHnN1Tctpk&callback=myMap"></script>
{% endblock %}
