{% extends "User/user-standard.html" %}
{% block extra %}login-page{% endblock %}

{% block title %}Registrate{% endblock %}

{% block content %}

    <div class="login-box">
        <div class="login-logo">
            <strong>Registrese</strong>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg gone">
                Seleccione su tipo de usuario.
            </p>

            <div class="gone">
                <button class="btn btn-lg btn-primary" id="person">Personal</button>
                <button class="btn btn-lg btn-primary" id="muni">Municipalidad</button>
                <button class="btn btn-lg btn-primary" id="ong">ONG</button>
            </div>

            <form method="post" style="margin-top: 4%; display: none" id="form_person"  enctype="multipart/form-data">
                {% csrf_token %}
                <table class="table">
                    {% for field in person.hidden_fields %}
                        {{ field }}
                    {% endfor %}
                    {% for field in person.visible_fields %}
                        <tr>
                            <td>{{ field.label_tag }}</td>
                            <td>{{ field }}</td>
                            <td>{{ field.errors }}</td>
                        </tr>
                    {% endfor %}
                </table>

                <button type="submit" class="btn btn-lg btn-success" style="margin-left: 32%"
                        onclick="$('#form_person').submit()">
                    Registrarse
                </button>
            </form>

            <form method="post" style="margin-top: 4%; display: none" id="form_muni"  enctype="multipart/form-data">
                {% csrf_token %}
                <table class="table">
                    {% for field in muni.hidden_fields %}
                        {{ field }}
                    {% endfor %}
                    {% for field in muni.visible_fields %}
                        <tr>
                            <td>{{ field.label_tag }}</td>
                            <td>{{ field }}</td>
                            <td>{{ field.errors }}</td>
                        </tr>
                    {% endfor %}
                </table>

                <button type="submit" class="btn btn-lg btn-success" style="margin-left: 32%"
                        onclick="$('#form_muni').submit()">
                    Registrarse
                </button>
            </form>

            <form method="post" style="margin-top: 4%; display: none" id="form_ong" enctype="multipart/form-data">
                {% csrf_token %}
                <table class="table">
                    {% for field in ong.hidden_fields %}
                        {{ field }}
                    {% endfor %}
                    {% for field in ong.visible_fields %}
                        <tr>
                            <td>{{ field.label_tag }}</td>
                            <td>{{ field }}</td>
                            <td>{{ field.errors }}</td>
                        </tr>
                    {% endfor %}
                </table>

                <button type="submit" class="btn btn-lg btn-success" style="margin-left: 32%"
                        onclick="$('#form_ong').submit()">
                    Registrarse
                </button>
            </form>

        </div>
        <!-- /.login-box-body -->

        <br>

        <script>
            $('#person').on('click', function () {
                $('.gone').css('display', 'none');
                $('#form_person').css('display', 'block')
            });

            $('#muni').on('click', function () {
                $('.gone').css('display', 'none');
                $('#form_muni').css('display', 'block')
            });

            $('#ong').on('click', function () {
                $('.gone').css('display', 'none');
                $('#form_ong').css('display', 'block')
            })
        </script>

    </div>
{% endblock %}